<!-- <app-not-found [visible]="!restaurants" notFoundMessage="Restaurants Not Found"
    resetLinkText="Back To Homepage"></app-not-found>

<div *ngIf="restaurants" class="container">
    <img [src]="restaurants.imageUrl" [alt]="restaurants.name" />

    <div class="details">
        <div class="header">
            <span class="name">
                {{restaurants.name}}
            </span>
            <span class="favorite {{restaurants.favorite? '': 'not'}}">❤</span>
        </div>
        <div class="rating">
            <star-rating [value]="restaurants.stars" [totalstars]="5" [checkedcolor]="restaurants.stars >= 3.5 ? 'gold' : 'red'"
                uncheckedcolor="black" size="25px" [readonly]="true">
            </star-rating>
        </div>
    </div>
</div> -->

<app-not-found
  [visible]="!restaurant"
  notFoundMessage="Restaurant Not Found"
  resetLinkText="Back To Homepage">
</app-not-found>


<div *ngIf="restaurant.rstid" class="container">
  <img [src]="restaurant.imageUrl" [alt]="restaurant.name"/>

  <div class="details">
    <div class="header">
      <span class="name">
        {{restaurant.name}}
      </span>
      <span class="favorite {{restaurant.favorite? '': 'not'}}">❤</span>
    </div>
    <div class="rating">
        
            <star-rating [value]="restaurant.stars" [totalstars]="5" [checkedcolor]="restaurant.stars >= 3.5 ? 'gold' : 'red'"
                uncheckedcolor="black" size="25px" [readonly]="true">
            </star-rating>
        
    </div>

    <!-- <div class="tags">
      <a *ngFor="let tag of restaurant.rstags" routerLink="/tag/{{rstag}}">
        {{tag}}
      </a>
    </div>

    -->

    <button >Menu</button>
  
  </div>
</div>
<!-- (click)=" menu()" -->