
<app-not-found [visible]="!restaurants" notFoundMessage="Restaurants Not Found"
    resetLinkText="Back To Homepage"></app-not-found>

<div *ngIf="restaurants" class="container">
    <img [src]="restaurants.imageUrl" [alt]="restaurants.name" />

    <div class="details">
        <div class="header">
            <span class="name">
                {{restaurants.name}}
            </span>
            <span class="favorite {{restaurants.favorite? '': 'not'}}">❤</span>
        </div>
        <div class="rating">
            <star-rating [value]="restaurants.stars" [totalstars]="5" [checkedcolor]="restaurants.stars >= 3.5 ? 'gold' : 'red'"
                uncheckedcolor="black" size="25px" [readonly]="true">
            </star-rating>
            
    <button >Menu</button>
  

        </div>
    </div>
</div>

<!-- <app-not-found
  [visible]="!restaurants"
  notFoundMessage="restaurants Not Found"
  resetLinkText="Back To Homepage">
</app-not-found>


<div *ngIf="restaurants.rstid" class="container">
  <img [src]="restaurants.imageUrl" [alt]="restaurants.name"/>

  <div class="details">
    <div class="header">
      <span class="name">
        {{restaurants.name}}
      </span>
      <span class="favorite {{restaurants.favorite? '': 'not'}}">❤</span>
    </div>
    <div class="rating">
        
            <star-rating [value]="restaurants.stars" [totalstars]="5" [checkedcolor]="restaurants.stars >= 3.5 ? 'gold' : 'red'"
                uncheckedcolor="black" size="25px" [readonly]="true">
            </star-rating>
        
    </div> -->

    <!-- <div class="tags">
      <a *ngFor="let tag of restaurants.rstags" routerLink="/tag/{{rstag}}">
        {{tag}}
      </a>
    </div>

    -->

<!-- (click)=" menu()" -->
<!-- </div>
</div> -->
