<footer>
  <div class="container">
    <div class="row gy-4"
      style="display: flex; flex-direction: row; justify-content: space-between; align-items: center;">
      <div class="col-lg-5 col-md-12 footer-info">
        <div> <a href="#" class="logo d-flex align-items-center">
            <img src="../../../../assets/HungryHub.png" alt="logo" style="height: 60px;">
          </a>
        </div>
        <div style="max-width: 390px;">
          <p style="text-align: justify;">Embark on a flavor adventure at Hungry Hub, your exclusive haven for quick and delectable bites! Revel in the artistry of taste with our carefully curated menu, crafted to transform every meal into a culinary masterpiece.</p>
          <p style="text-align: justify;"><strong style="color: #0bc70b;">Quick, Delicious, and Always Ready to Serve!</strong></p>
        </div>
        <div class="social-links  mt-4" style="display: flex; justify-content: space-evenly; margin-top: 2rem; font-size: xx-large;">

          <div> <a href="https://www.facebook.com" style="color:azure">
            <i class="fa-brands fa-facebook-f"></i></a>
             </div>
          <div><a href="https://www.instagram.com" style="color:azure">
              <i class="fa-brands fa-instagram"></i></a>
            </div>
          <div> <a href="https://www.twitter.com" style="color:azure">
              <i class="fa-brands fa-x-twitter"></i></a>
            </div>
          <div><a href="https://www.linkedin.com" style="color:azure">
            <i class="fa-brands fa-linkedin-in"></i></a>
            </div>

        </div>
      </div>

      <div class="col-lg-2 col-6 footer-links">
       
        <ul>
          <div style="line-height: 2rem;">
            <h4>Company</h4>
            <li><a href="#">Home</a></li>
            <li><a href="#">About us</a></li>
            <li><a href="#">careers</a></li>
            <li><a href="#">Team</a></li>
            <li><a href="#">Ride with us</a></li>
          </div>
        </ul>
      </div>

      <div class="col-lg-2 col-6 footer-links">
        
        <ul>
          <div style="line-height: 2rem;">
            <h4>Legal</h4>
            <li><a href="#">Partner with Us</a></li>
            <li><a href="#">Privacy Policy</a></li>
            <li><a href="#">Terms of service</a></li>
            <li><a href="#">Help & Support</a></li>
            <li><a href="#">Promotions</a></li>
          </div>
        </ul>
      </div>

      <div class="col-lg-3 col-md-12 footer-contact text-center text-md-start">
        <h4>Contact Us</h4>
        <p>
          B108 Gift One Tower <br>
          Gift city<br>
          Taluka & District – Gandhinagar – 382 355,Gujarat. <br><br>
          <strong>Phone:</strong> +1 5589 55488 55<br>
          <!-- <strong>Email:</strong> info@hungryhub.com<br> -->
        </p>

      </div>


    </div>
    <div>
      <div class="copyright" style="margin-top: 5%; text-align: center;">
        © Copyright <strong style="color: #0bc70b;"><span>HungryHub</span></strong>. All Rights Reserved
      </div>
    </div>
  </div>



</footer>